/* Home.css */

.Home {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #f0f0f0;
}
    
    .h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
    }
    
    .p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 40px;
    color: #0a0a0a;
    }
    /*button
    .button a{
        color: #030303; 
        text-decoration: none;
        transition: color 0.2s ease;
    }
    .button a:hover {
        color: #ccc;
    }
    .button a.active {
        color: #85d4e7; 
        border-bottom: 2px solid #cc1818;
    }*/
    .main{
        grid-area: main;
        background-color:#ffff;
        color: rgb(12, 12, 12);
        display: flex;
        justify-content: space-between;
        height: 100%;
    }
    .footer{
        grid-area: footer
    }
    /*html{
        font-size:62.5%; 
        box-sizing: border-box
    }*/
    body{
        font: 1.6rem;
        height: 100%;
        margin: 0;
        display:contents
    }
    .grid-container{
        display: grid;
        grid-template-areas:
        "header"
        "main"
        "footer";
        grid-template-columns: 1fr;
        grid-template-rows:5rem 1fr 5rem;
        height: 100%;
    }
    .footer{
        grid-area:auto;
        grid-area: header;
        background-color:#eee6e6e6;
        color:black;
        display:flex;
        justify-content:space-between;
    }
    /* Responsive design */
    
    @media (max-width: 768px) {
    .Home {
    padding: 30px;
    }
    .h1 {
    font-size: 28px;
    }
    .p {
    font-size: 16px;
    }
    }
    
    @media (max-width: 480px) {
    .Home {
    padding: 20px;
    }
    .h1 {
    font-size: 24px;
    }
    .p {
    font-size: 14px;
    }
    }

/* Navbar.css */ 
.navbar {
    background-color: #333;
    background-color: #eee6e6;
    padding: 1em;
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.navbar a{
    color: #030303; text-decoration: none;
    transition: color 0.2s ease;
}
.navbar a:hover {
    color: #ccc; 
}
.navbar a.active {
    color: #fff; border-bottom: 2px solid #fff;
}
.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.navbar li {
    margin-right: 20px; 
}

    /*About.css*/
    .image {
        display: flex;
        justify-content:center;
        align-items: center;
        height:fit-content;
    }
   /*contact.css*/

   /*Project.css*/
/*.container{

}
.project ul{

}
.project li{

}
